.box {
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    background-color: coral;
    margin:20px;
    box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.5);
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.container{
    display: flex;
    justify-content: space-evenly;
    height:100vh;
    background-color: aqua;
    align-items: flex-start;
}